

#content {
  width: 900px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 30px; 

}

#who {
	font-family: 'Jura', sans-serif;
  cursor: default;
  font-size: 50px;
  padding-bottom: 20px;
}

.left {
  margin-right: 15px; }

.right {
  margin-left: 15px; }


.innerbox {
  width: 200px;
  height: 200px;
  border-radius: 110px;
  -webkit-border-radius: 110px;
  -moz-border-radius: 110px;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.picture, #sponsorpic, #fundpic {
  width: 200px;
  height: 200px;
  background-size: cover;
  display: block;
  border-radius: 110px;
  -webkit-border-radius: 110px;
  -moz-border-radius: 110px;
  cursor: pointer; }

.innerbox:hover, .picture:focus, #sponsorpic, #fundpic, .picture:active, #sponsorpic, #fundpic {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer; }

#sponsorpic {
 background-image: url('../img/placeholder.jpg');
}

#fundpic {
 background-image: url('../img/placeholder.jpg');
}

.big {
	font-size: 30px;
}

.text {
  position: absolute;
  top: 75px;
  left: 0px;
  font-size: 26px;
  width: 200px;
  text-align: center;
  z-index: 0;
  color: #000;
  font-family: 'Jura', sans-serif;
  cursor: pointer; 
}








